<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>nbspace</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>A.label</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>underscore</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>yen</string>
      <string>section</string>
      <string>copyright</string>
      <string>guillemotleft</string>
      <string>registered</string>
      <string>degree</string>
      <string>paragraph</string>
      <string>periodcentered</string>
      <string>guillemotright</string>
      <string>questiondown</string>
      <string>multiply</string>
      <string>divide</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>Euro</string>
      <string>trademark</string>
      <string>minus</string>
      <string>uni25CC</string>
      <string>asciicircum</string>
      <string>grave</string>
      <string>asciitilde</string>
      <string>dieresis</string>
      <string>macron</string>
      <string>acute</string>
      <string>cedilla</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>brevecomb</string>
      <string>dotaccentcomb</string>
      <string>dieresiscomb</string>
      <string>ringcomb</string>
      <string>hungarumlautcomb</string>
      <string>caroncomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>caron.alt</string>
      <string>AE</string>
      <string>Eth</string>
      <string>Oslash</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>Hbar</string>
      <string>Lslash</string>
      <string>OE</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
      <string>Cacute</string>
      <string>Cdotaccent</string>
      <string>Ccaron</string>
      <string>Dcaron</string>
      <string>Emacron</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
      <string>Gbreve</string>
      <string>Gdotaccent</string>
      <string>uni0122</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>uni0136</string>
      <string>Lacute</string>
      <string>uni013B</string>
      <string>Lcaron</string>
      <string>Nacute</string>
      <string>uni0145</string>
      <string>Ncaron</string>
      <string>Ohungarumlaut</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Sacute</string>
      <string>Scedilla</string>
      <string>Scaron</string>
      <string>Tcaron</string>
      <string>Umacron</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>Wcircumflex</string>
      <string>Ycircumflex</string>
      <string>Zacute</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
      <string>uni0218</string>
      <string>uni021A</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
      <string>Ygrave</string>
    </array>
  </dict>
</plist>
